/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Base Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}

/* Palette Section Styling */
.palette_container{
    background-color: blueviolet;
    width: 100vw;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
}

.box{
    min-width: 230px;
    min-height: 200px;
    display: grid;
    place-items: center;
}
.box:hover button{
    /* display: inline-block; */
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.box_content{
    width: 60%;
    text-align: center;
}
input[type="text"]{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}
input[type="text"]:focus{
    outline: none;
}
.box_content button{
    padding: 0.2rem 0.7rem;
    font-size: 1.5rem;
    margin-top: 0.8rem;
    /* display: none; */
    opacity: 0;
}

/* Button Section Styling */
.button_container{
    background: rgba(0, 0, 0, 0.747);
    width: 100vw;
    min-height: 10vh;
    display: grid;
    place-items: center;
}
#btn{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    background: aquamarine;
    cursor: pointer;
    user-select: none;
}